<ion-view title="Education" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="blogPostsList-form3" class="list">
      <label class="item item-input" id="blogPostsList-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <h1 id="blogPostsList-heading5" style="color:#000000;">Education</h1>
    <button id="blogPostsList-button16" class="button button-positive  button-block">Affordable private tutoring?</button>
    <a ui-sref="postExample" id="blogPostsList-button17" class="button button-positive  button-block">Online coding resources?</a>
    <button id="blogPostsList-button18" class="button button-positive  button-block">I found a great after school program!</button>
    <button id="blogPostsList-button19" class="button button-positive  button-block">Homeschooling and foster care</button>
    <button id="blogPostsList-button20" class="button button-positive  button-block">News Article: Chicago schools ranked</button>
  </ion-content>
</ion-view>
