<ion-view title="Forum" id="page1">

 </style>
  <ion-content padding="true" class="has-header">
    <form id="blogHomescreen-form1" class="list">
      <label class="item item-input" id="blogHomescreen-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="search blog">
      </label>
    </form>
    <h1 id="blogHomescreen-heading1" style="color:#000000 ;">Foster Care Topics</h1>
    <div class="item item-body" style type="text/css"
    .container2 !important {
      position: absolute;
    }
    .container2 button-inline !important {
      display: block;
      width: 100%;
      margin: 2px;
      text-align: center;

   } id="page-list-item-container2" type="container2">
      <button class="button  ion-filing button-calm"
       a ui-sref="blogPostsList"
       style="
       border-radius:5px;
       font-size: 18px;
      line-height: 20vh !important;
      width: 40vw !important;
       ">Education</button>

     <button class="button ion-android-globe button-royal"
           a ui-sref="find"
       style="
       border-radius:5px;
       font-size: 18px;

     line-height: 20vh !important;
      width: 40vw !important;
       ">Social</button>
<br><br>
      <button class="button  ion-filing button-assertive"
       a ui-sref="blogPostsList"
       style="
       border-radius:5px;
       font-size: 18px;
      line-height: 20vh !important;
      width: 40vw !important;
       ">Health</button>

      <button class="button ion-android-globe button-balanced"
           a ui-sref="find"
       style="
       border-radius:5px;
       font-size: 18px;

      line-height: 20vh !important;
      width: 40vw !important;
       ">Work</button>


   </div>
    <h1 id="blogHomescreen-heading2" style="color:#000000 ;">Recent Posts</h1>
    <button id="blogHomescreen-button10" style="font-size:14px;" class="button button-positive  button-block">Where can I find good sports programs?</button>
    <button id="blogHomescreen-button11" style="font-size:14px;" class="button button-positive  button-block">West Loop pharmacies that are open late?</button>
  </ion-content>
</ion-view>
<!--
<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page-card21">
      <ion-item class="item-avatar" id="page-list-item3">
        <h2>Item</h2>
      </ion-item>
      <div class="spacer" style="width: 268px; height: 52px;"></div>
      <div class="item item-body" id="page-list-item-container2">
        <button id="page-button2" style="border-radius:85px 85px 85px 85px;" class="button button-positive button-large">Tap me!</button>
        <button id="page-button9" style="border-radius:85px 85px 85px 85px;" class="button button-positive button-large">Tap me!</button>
        <div class="spacer" style="width: 268px; height: 52px;"></div>
        <button id="page-button16" style="border-radius:85px 85px 85px 85px;" class="button button-positive button-large">Tap me!</button>
        <button id="page-button17" style="border-radius:85px 85px 85px 85px;" class="button button-positive button-large">Tap me!</button>
      </div>
    </div>
  </ion-content>
</ion-view>
-->
