<ion-view title="Blog Resources" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="blogResources-form2" class="list">
      <label class="item item-input" id="blogResources-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <h1 id="blogResources-heading3" style="color:#000000;">Resources</h1>
    
    <h1 id="blogResources-heading4" style="color:#000000;">Recent Posts in Resources</h1>
    <button id="blogResources-button14" class="button button-positive  button-block">Eye drops for pink eye</button>
    <button id="blogResources-button15" class="button button-positive  button-block">Private schools in Rogers Park?</button>
  </ion-content>
</ion-view>