<ion-view title="Call a Caseworker" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header"></ion-content>
</ion-view>