
<ion-view title="Child Page" id="page1">
  <ion-content padding="true" class="has-header">


     <button class="button icon-left ion-filing button-positive"
      a ui-sref="pleaseWaitCalling"
      style="
      border-radius:5px;
      font-size: 18px;
    line-height: 40vh !important;
    width: 45vw !important;
      ">Find an Agent</button>

     <button class="button icon-left ion-android-globe button-assertive"
          a ui-sref="pleaseWaitSearching"
      style="
      border-radius:5px;
      font-size: 18px;

    line-height: 40vh !important;
    width: 45vw !important;
      ">Find a Home</button>
      <br><br>
      <button class="button icon-left ion-android-happy button-calm"
          a ui-sref="helpdeskChat"
       style="
       border-radius:5px;
       font-size: 18px;

    line-height: 40vh !important;
    width: 45vw !important;
      ">Helpdesk</button>

     <button class="button icon-left ion-ios-bolt button-royal"

      style="
       border-radius:5px;
       font-size: 18px;

    line-height: 40vh !important;
    width: 45vw !important;
      ">Other</button>









  </ion-content>
</ion-view>
