<ion-view title="DCFS Home Screen" id="page4">
  <ion-content padding="true" class="has-header">

     <button class="button icon-left ion-filing button-assertive"
      a ui-sref="alertsPage"
      style="
      border-radius:5px;
      font-size: 18px;
    line-height: 40vh !important;
    width: 45vw !important;
      ">Alerts</button>

     <button class="button icon-left ion-android-globe button-positive"
          a ui-sref="find"
      style="
      border-radius:5px;
      font-size: 18px;

    line-height: 40vh !important;
    width: 45vw !important;
      ">Complaints</button>
      <br><br>
      <button class="button icon-left ion-android-happy button-calm"
          a ui-sref="helpdeskChat"
       style="
       border-radius:5px;
       font-size: 24px;

    line-height: 40vh !important;
    width: 45vw !important;
      ">Helpdesk</button>

     <button class="button icon-left ion-ios-bolt button-royal"

      style="
       border-radius:5px;
       font-size: 24px;

    line-height: 40vh !important;
    width: 45vw !important;
      ">Other</button>





  </ion-content>
</ion-view>
