<ion-view title="Foster Forum" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="fosterForum-card23">
      <ion-item id="fosterForum-list-item9">Frequently Asked Questions</ion-item>
    </div>
    <div class="list card" id="fosterForum-card24">
      <ion-item id="fosterForum-list-item11">About Us
        <span class="item-note">A Section for General chats</span>
      </ion-item>
      <ion-item id="fosterForum-list-item11">General
        <span class="item-note">A Section for General chats</span>
      </ion-item>
      <ion-item id="fosterForum-list-item11">Technical / User Account
        <span class="item-note">A Section for General chats</span>
      </ion-item>
      <ion-item id="fosterForum-list-item11">Privacy Issues
        <span class="item-note">A Section for General chats</span>
      </ion-item>
    </div>
    </div>
  </ion-content>
</ion-view>
