<ion-view title="Find a Place to Stay" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true"  class="has-header">

  </ion-content>
</ion-view>
