<ion-view title="Location services" id="find">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="fosterForum-card23">
      <ion-item a ui-sref="connectWithFosterFamilies" id="fosterForum-list-item9">Connect with Foster Families</ion-item>
    </div>
    <div class="list card" id="fosterForum-card24">
      <ion-item a ui-sref="pharmacyMap" id="fosterForum-list-item11">Health Services / State Agencies
      </ion-item>
    </div>
    <div class="list card" id="fosterForum-card26">
      <ion-item id="fosterForum-list-item16">Social Workers
      </ion-item>
    </div>
  </ion-content>
</ion-view>
