<ion-view title="Foster Forum" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="fosterForum-card23">
      <ion-item
      a ui-sref="FAQ"
      id="fosterForum-list-item9">FAQ</ion-item>
    </div>
    <div class="list card" id="fosterForum-card24">
      <ion-item id="fosterForum-list-item11">General
        <span class="item-note">A Section for General chats</span>
      </ion-item>
    </div>
    <div class="list card" id="fosterForum-card26">
      <ion-item id="fosterForum-list-item16">Resources
        <span class="item-note">A Section for gathering resources</span>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
