<ion-view title="Foster Forum" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="fosterForum-card23">
      <ion-item id="fosterForum-list-item9">Get Connected</ion-item>
    </div>
    <div class="list card" id="fosterForum-card24">
      <ion-item id="fosterForum-list-item11">Introductions
        <span class="item-note">Get acquanted </span>
      </ion-item>
      <ion-item id="fosterForum-list-item11">Resources
        <span class="item-note">Useful resources for foster families</span>
      </ion-item>
      <ion-item id="fosterForum-list-item11">Local Wisdom
        <span class="item-note">Insider looks on the local foster scene</span>
      </ion-item>
      <ion-item id="fosterForum-list-item11">Privacy Issues
        <span class="item-note">A Section for General chats</span>
      </ion-item>
    </div>
    </div>
  </ion-content>
</ion-view>
