<ion-view title="Hello (Name)!" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="helloName-card21">
      <ion-item id="helloName-list-item7">
        <h1>NewsFeed</h1>
      </ion-item>
    </div>
    <div class="list card" id="helloName-card22">
      <ion-item class="item-avatar" id="helloName-list-item11">
        <h2>Jane Ipsum</h2>
        <p>Update</p>
      </ion-item>
      <div class="item item-body" id="helloName-list-item-container4">
        <div id="helloName-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">I had fun connecting with John Doe on the app last evening!</p>
        </div>
      </div>
    </div>
    <div class="list card" id="helloName-card23">
      <ion-item class="item-avatar" id="helloName-list-item16">
        <h2>Jon Don</h2>
      </ion-item>
      <div class="item item-body" id="helloName-list-item-container6">
        <div id="helloName-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Found this awesome article on Foster Parents and health connections on the web last night.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>