<ion-view title="Help" id="page3">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/iorkcUpCSOuoCKE22GVv_averie-woodard-122274.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="callACaseworker" id="help-button13" class="button button-stable  button-block">Contact a Caseworker</a>
    <a ui-sref="findAPlaceToStay" id="help-button14" class="button button-stable  button-block">Call 911</a>
  </ion-content>
</ion-view>
