<ion-view title="Helpdesk Chat" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="helpdeskChat-card24">
      <ion-item class="item-avatar" id="helpdeskChat-list-item18">
        <h2>Ronnie HelpDesk</h2>
        <p>What can I help you with?</p>
      </ion-item>
    </div>
    <form id="helpdeskChat-form1" class="list">
      <label class="item item-input" id="helpdeskChat-input1">
        <span class="input-label">Input</span>
        <input type="text" placeholder="Type Here">
      </label>
    </form>
  </ion-content>
</ion-view>