<ion-view title="Login" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="login-form2" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input3" >
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="userName" required>
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ng-click="determineUser(userName)" id="login-button3" class="button button-stable  button-block">Log in</a>
      <a ui-sref="signup" id="login-button4" class="button button-positive  button-block button-clear">Or create an account</a>
      
      <!--
      <a ui-sref="menu" id="login-button4" class="button button-positive  button-block button-clear">parent login</a>
      <a ui-sref="childModules" id="login-button4" class="button button-positive  button-block button-clear">child login</a>
      <a ui-sref="dCFSHomeScreen" id="login-button4" class="button button-positive  button-block button-clear">admin</a>
      -->

    </form>
  </ion-content>
</ion-view>
