<ion-view title="Parent Page" id="page1">
  <ion-content padding="true" class="has-header">


 <button class="button icon-left ion-filing button-positive"
  a ui-sref="blogHomescreen"
  style="
  border-radius:5px;
  font-size: 24px;
line-height: 40vh !important;
width: 45vw !important;
  ">Forum</button>

 <button class="button icon-left ion-android-globe button-assertive"
      a ui-sref="find"
  style="
  border-radius:5px;
  font-size: 24px;

line-height: 40vh !important;
width: 45vw !important;
  ">Find...</button>
  <br><br>
  <button class="button icon-left ion-android-happy button-calm"
      a ui-sref="helpdeskChat"
   style="
   border-radius:5px;
   font-size: 24px;

line-height: 40vh !important;
width: 45vw !important;
  ">Helpdesk</button>

 <button class="button icon-left ion-ios-bolt button-royal"

  style="
   border-radius:5px;
   font-size: 24px;

line-height: 40vh !important;
width: 45vw !important;
  ">Other</button>



 </ion-content>
</ion-view>
