<ion-view title="Page - Page" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="pagePage-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Hey! Look at me!!</p>
    </div>
  </ion-content>
</ion-view>