<ion-view title="Post Example" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="postExample-form4" class="list">
      <label class="item item-input" id="postExample-search4">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <h2 id="postExample-heading6" style="color:#000000;">Online Coding Resources</h2>
    <div class="item item-body" id="postExample-list-item-container3">
      <div id="postExample-markdown4" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">A child in my care is interested in learning how to code. What online resources can I share with him to help him on his journey?</p>

        <p style="color:#000000;">Thanks!</p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <ion-list id="postExample-list1">
      <ion-item class="item-avatar" id="postExample-list-item5">
        <h2>Barbara B. says:</h2>
        <p style="white-space:normal;">My daughter had great success with codecademy. Your child should give it a shot! </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>