<ion-view title="Foster Forum" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="fosterForum-card23">
      <ion-item id="fosterForum-list-item9">Resources</ion-item>
    </div>
    <div class="list card" id="fosterForum-card24">
      <ion-item id="fosterForum-list-item11">DCSF / State Agencies
        <span class="item-note">Gather links to DCSF help here</span>
      </ion-item>
      <ion-item id="fosterForum-list-item11">Health / Mental Health
      </ion-item>
      <ion-item id="fosterForum-list-item11">Respite
      </ion-item>
      <ion-item id="fosterForum-list-item11">Miscellaneous
      </ion-item>
    </div>
    </div>
  </ion-content>
</ion-view>
