<ion-view title="Search For Homes" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="searchForHomes-form7" class="list">
      <h1 id="searchForHomes-heading3" style="color:#000000;">Search for homes</h1>
      <div class="spacer" style="width: 300px; height: 25px;"></div>
      <label class="item item-input" id="searchForHomes-input8">
        <span class="input-label">zip code</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 25px;"></div>
      <label class="item item-input" id="searchForHomes-input9">
        <span class="input-label">age of child</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 25px;"></div>
      <label class="item item-input" id="searchForHomes-input10">
        <span class="input-label">keywords</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <form id="searchForHomes-form10" class="list">
      <ion-checkbox id="searchForHomes-checkbox1">Only show homes with openings</ion-checkbox>
    </form>
    <a ui-sref="searchResults" id="searchForHomes-button7" class="button button-positive  button-block">Search</a>
  </ion-content>
</ion-view>