<ion-view title="Search Results" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="searchResults-heading4" style="color:#000000;">Search results</h1>
    <ion-list id="searchResults-list4">
      <ion-item class="item-thumbnail-left" id="searchResults-list-item10">
        <img src="img/Hzen0wifQdKDiJONvTUv_map.png">
        <h2>3641 S Federal</h2>
        <p>Anne:  1-234-567-8900</p>
        <p>Available spots: 1</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="searchResults-list-item11">
        <img src="img/ArXjLyybSLWeL2DBxjWt_map2.png">
        <h2>207 E 35th St</h2>
        <p>Bert:  1-234-567-8900</p>
        <p>Available spots: 2</p>
      </ion-item>
    </ion-list>
    <a ui-sref="searchForHomes" id="searchResults-button8" class="button button-positive  button-block">Refine Search</a>
  </ion-content>
</ion-view>